<div class="card">
	<div>
		<img [src]="movie?.Poster" alt="" />
	</div>

	<div class="details">
		<p class="movieTitle">{{ movie?.Title }}</p>

		<div *ngIf="showDetails" class="moreDetails">
			<p>Plot{{ details?.Plot }}</p>
			<p>Actors{{ details?.Actors }}</p>

			<ul>
				<li *ngFor="let rating of details?.Ratings">
					Rating{{ rating.Source + ": " + rating.Value }}
				</li>
			</ul>
		</div>

		<div class="card-bottom">
			<div class="card-bottom-1">
				<p>{{ movie?.Year }}</p>
			</div>
			<div class="card-bottom-2">
				<button class="btn" (click)="moreDetails(movie.imdbID)">
					{{ btnText }}
				</button>
			</div>
		</div>
	</div>
</div>
