.card {
	display: flex;
	flex-direction: row;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
}

.movieTitle {
	font-weight: bold;
}

.movieYear {
	color: #b6c3cc;
	padding-left: 5%;
}

.details {
	width: 100%;
	padding: 2%;
	position: relative;
}

.subTitle {
	font-size: 11px;
}

.description {
	margin: 0;
}

.detailSections {
	margin-top: 3%;
}

.card-bottom {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: absolute;
	bottom: 0;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	left: 0;
}

.card-bottom-1 {
	grid-column-start: 1;
}
.card-bottom-2 {
	position: relative;
}

.card-bottom-2 .btn {
	position: absolute;
	right: 15%;
	top: 25%;
}

.default {
	width: 300px;
	height: 445px;
}

@media screen and (max-width: 800px) {
	.card {
		flex-direction: column;
	}

	.movieTitle {
		margin-bottom: 15%;
	}

	.moreDetails {
		margin-bottom: 20%;
	}
}
