<div class="navbar">
	<div>
		<p class="title">OMDB Search</p>
	</div>

	<div class="search">
		<form [formGroup]="searchForm" (submit)="onSubmitSearch($event)">
			<label>Search a movie: </label>

			<input
				type="text"
				class="input"
				[formControl]="$any(searchForm.controls.movieName)"
			/>
			&nbsp;
			<button
				[disabled]="searchForm.invalid"
				[ngClass]="{ disable: searchForm.invalid }"
				class="btn"
				type="submit"
			>
				&nbsp; SEARCH &nbsp;
			</button>

			<div
				*ngIf="
					searchForm.controls.movieName.errors?.required &&
					searchForm.controls.movieName.touched
				"
				class="help is-danger"
			>
				<p class="errorMessage">Value is required</p>
			</div>

			<div
				*ngIf="
					searchForm.controls.movieName.errors?.minlength &&
					searchForm.controls.movieName.touched
				"
				class="help is-danger"
			>
				<p class="errorMessage">
					Value you entered is
					{{ searchForm.controls.movieName.errors?.minlength.actualLength }}
					characters long, But it must be at least
					{{ searchForm.controls.movieName.errors?.minlength.requiredLength }}
					characters long.
				</p>
			</div>
		</form>
	</div>
</div>
