.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.2% 10%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
	font-size: 25px;
	font-weight: bold;
}

.search {
	padding: 25px 0;
}

.input {
	border: none;
	border-bottom: 1px solid rgb(199, 195, 195);
}

.input:focus {
	outline: none;
	border-bottom: 2px solid #307cfb;
}

.disable {
	cursor: not-allowed;
}

.errorMessage {
	font-size: 10px;
	color: red;
}

@media (max-width: 800px) {
	.navbar {
		flex-direction: column;
		align-items: center;
	}
}
