<div class="navbar">
	<div>
		<p class="title">OMDB Search</p>
	</div>

	<div class="search">
		<form
			[formGroup]="searchForm"
			(submit)="onSubmitSearch(searchForm.controls.movieName.value)"
		>
			<label>Search a movie: </label>
			<input class="input" [formControl]="$any(searchForm.get('movieName'))" />

			&nbsp;

			<a [routerLink]="['./', searchForm.controls.movieName.value]">
				<button
					[disabled]="searchForm.invalid"
					[ngClass]="{ disable: searchForm.invalid }"
					class="btn"
					type="submit"
				>
					&nbsp; SEARCH &nbsp;
				</button></a
			>

			<div class="errorMessage" *ngIf="showErrors()">
				<p *ngIf="searchForm.get('movieName').errors.required">Value is required</p>
				<p *ngIf="searchForm.get('movieName').errors.minlength">
					Value you entered is
					{{ searchForm.get("movieName").errors.minlength.actualLength }}
					characters long, but it must be at least
					{{ searchForm.get("movieName").errors.minlength.requiredLength }}
					characters
				</p>

				<p *ngIf="searchForm.get('movieName').errors.noConnection">
					No internet connection
				</p>
			</div>
		</form>
	</div>
</div>
