.row {
	display: flex;
	flex-wrap: wrap;
	padding: 3% 10%;
}

.column {
	flex-grow: 0;
	width: 48%;
	padding: 2% 1% 0 1%;
}

.extract {
	width: 98%;
}

.pagination {
	display: flex;
	justify-content: center;
	margin: 5% 0;
}

.pagination span {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	cursor: pointer;
}

.pagination span.active {
	background-color: #307cfb;
	color: white;
	border-radius: 5px;
}

.pagination span:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}

@media screen and (max-width: 800px) {
	.row {
		flex-direction: column;
	}

	.column {
		width: 100%;
	}
}
